.carousel{
    padding: 25px 50px;
}
.owl-carousel .item {
  width: 30vw;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel .item img {
  width: 100%;    
}


.owl-item {
  transition: all 1s ease; /* Анимация всех свойств */
}

/* Центральный элемент */
.owl-item.center .item {
  transform: scale(1.1); /* Увеличение на 20% */
  z-index: 10; /* Поднимаем над соседями */
  position: relative; /* Для корректного позиционирования */
}

/* Соседние элементы */
.owl-item:not(.center) .item {
  transform: scale(0.9); /* Уменьшение нецентральных */
  opacity: 0.9; /* Дополнительный эффект - полупрозрачность */
}
.custom-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    margin: 0 auto;
}
.carousel-nav{
    background-color: #fff;
    width: 25px;
    height: 25px;
    align-items: center;
    text-align: center;
    border: #fff 0px solid;
    margin-right: 30px;
}
.carousel-nav img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}